<div class="container account-form">
  <h1>Reset your password</h1>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div class="form-errors">{{ form.errors | default_errors }}</div>
    {%- endif -%}
    <label for="ResetPassword">New password</label>
    <input type="password" name="customer[password]" id="ResetPassword" autocomplete="new-password" required>
    <label for="ResetPasswordConfirmation">Confirm new password</label>
    <input type="password" name="customer[password_confirmation]" id="ResetPasswordConfirmation" autocomplete="new-password" required>
    <button type="submit" class="btn btn--primary btn--full">Reset password</button>
  {%- endform -%}
</div>
